[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[requires]

python_version = "3.6"


[dev-packages]

"pep8" = "*"
gunicorn = "*"


[packages]

hug = "*"
dataset = "*"
python-jose = "*"