[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[requires]

python_version = "3.6"


[dev-packages]

"pep8" = "==1.7.0"
gunicorn = "==19.7.1"


[packages]

hug = "==2.3.2"
dataset = "==1.0.2"
python-jose = "==1.4.0"