:root 
{
    /* Colors */
    --color-dark-primary: #455A64;
    --color-default-primary: #607D8B;
    --color-light-primary: #CFD8DC;
    --color-text-primary: #FFFFFF;
    --color-accent: #03A9F4;
    --color-primary-text: #212121;
    --color-secondary-text: #757575;
    --color-divider: #BDBDBD;

    /* Font */
    --font-size-default: 10px;
    --font-size-input: 2rem;

    /* Dimensions */
    --top-panel: 0;
    --left-panel: 0;
    --width-panel: 100%;
    --height-panel: 7.5%;
    --top-board: calc(7.5% + ((92.5% - 80vmin) / 2));
    --right-board: calc((100% - 80vmin) / 2);
    --size-board: 80vmin;
    --size-board-point: calc(0.125 * var(--size-board));
    --size-board-hint: 4rem;

    /* Padding */
    --padding-default: 2rem;
    --padding-input: 1rem;

    /* Margin */
    --margin-default: 2rem;

    /* Border */
    --border-width-default: 2px;

    /* Icons */
    --icon-size-default: 2.5rem;

    width: 100vw;
    height: 100vh;
    background-color: var(--color-light-primary);
    font-size: var(--font-size-default);
}

/* GENERAL */
/* GENERAL */
/* GENERAL */
.icon
{
    width: var(--icon-size-default);
    height: var(--icon-size-default);
}

/* CONTENT */
/* CONTENT */
/* CONTENT */
.control-panel 
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: var(--top-panel);
    left: var(--left-panel);
    width: var(--width-panel);
    height: var(--height-panel);
    background-color: var(--color-text-primary);
}

.control-panel-size
{
    display: inline-flex;
}

.board 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    top: var(--top-board);
    right: var(--right-board);
    width: var(--size-board);
    height: var(--size-board);
    margin: 0 auto;
    background-color: var(--color-text-primary);
}

.board-point
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-basis: calc(12.5% - (2 * var(--border-width-default)));
    border: var(--border-width-default) solid var(--color-primary-text);
    font-size: 1.5rem;
}

.board-point--correct
{
    background-color: var(--color-primary-text);
}

.board-point--incorrect
{
    background-color: var(--color-accent);
}

.board-hints
{
    position: fixed;
}

.board-hints--column
{
    top: calc(var(--top-board) - var(--size-board-hint));
    right: var(--right-board);
    width: var(--size-board);
    height: var(--size-board-hint);
}

.board-hints--row
{
    top: var(--top-board);
    right: calc(var(--right-board) + var(--size-board));
    width: var(--size-board-hint);
    height: var(--size-board);
}

.board-hint
{
    display: inline-flex;
    align-items: center;
    justify-content: center;;
    font-size: var(--font-size-input);
}

.board-hints--column > .board-hint
{
    width: var(--size-board-point);
    height: var(--size-board-hint);
}

.board-hints--row > .board-hint
{
    width: var(--size-board-hint);
    height: var(--size-board-point);
}

.input 
{
    font-size: var(--font-size-input);
}