:root 
{
    /* Colors */
    --color-dark-primary: #455A64;
    --color-default-primary: #607D8B;
    --color-light-primary: #CFD8DC;
    --color-text-primary: #FFFFFF;
    --color-accent: #03A9F4;
    --color-primary-text: #212121;
    --color-secondary-text: #757575;
    --color-divider: #BDBDBD;

    /* Font */
    --font-size-default: 10px;
    --font-size-input: 2rem;

    /* Dimensions */
    --top-panel: 0;
    --left-panel: 0;
    --width-panel: 100%;
    --height-panel: 7.5%;
    --top-board: calc(7.5% + ((92.5% - 80vmin) / 2));
    --right-board: calc((100% - 80vmin) / 2);
    --width-board: 80vmin;
    --height-board: 80vmin;

    /* Padding */
    --padding-default: 2rem;
    --padding-input: 1rem;

    /* Margin */
    --margin-default: 2rem;

    /* Border */
    --border-width-default: 2px;

    width: 100vw;
    height: 100vh;
    background-color: var(--color-light-primary);
    font-size: var(--font-size-default);
}

/* COMPONENTS */
/* COMPONENTS */
/* COMPONENTS */
.dropdown-container
{
    width: 4rem;
}

.dropdown-model 
{
    cursor: pointer;
    padding: var(--padding-input);
}

.dropdown-option 
{
    background-color: var(--color-text-primary);
    border: var(--border-width-default) solid var(--color-light-primary);
    padding: var(--padding-input);
}

/* CONTENT */
/* CONTENT */
/* CONTENT */
.control-panel 
{
    position: fixed;
    top: var(--top-panel);
    left: var(--left-panel);
    width: var(--width-panel);
    height: var(--height-panel);
    background-color: var(--color-text-primary);
}

.board 
{
    position: fixed;
    top: var(--top-board);
    right: var(--right-board);
    width: var(--width-board);
    height: var(--height-board);
    margin: 0 auto;
    background-color: var(--color-text-primary);
}

.input 
{
    font-size: var(--font-size-input);
}