:root {
    /* Colors */
    --color-dark-primary: #455A64;
    --color-default-primary: #607D8B;
    --color-light-primary: #CFD8DC;
    --color-text-primary: #FFFFFF;
    --color-accent: #03A9F4;
    --color-primary-text: #212121;
    --color-secondary-text: #757575;
    --color-divider: #BDBDBD;

    /* Font */
    --font-size-default: 10px;

    /* Dimensions */
    --top-panel: 0;
    --left-panel: 0;
    --width-panel: 100%;
    --height-panel: 5vh;
    --top-board: calc(5vh + ((100% - 85vh) / 2));
    --right-board: calc((100% - 80vh) / 2);
    --width-board: 80vh;
    --height-board: 80vh;

    /* Padding */
    --padding-default: 2rem;

    /* Margin */
    --margin-default: 2rem;

    width: 100vw;
    height: 100vh;
    background-color: var(--color-light-primary);
    font-size: var(--font-size-default);
}

.control-panel {
    position: fixed;
    top: var(--top-panel);
    left: var(--left-panel);
    width: var(--width-panel);
    height: var(--height-panel);
    background-color: var(--color-text-primary);
}

.board {
    position: fixed;
    top: var(--top-board);
    right: var(--right-board);
    width: var(--width-board);
    height: var(--height-board);
    margin: 0 auto;
    background-color: var(--color-text-primary);
}